.site-footer
  &--top
    padding: 15px 0px
    h5
      margin: 2em 0px 10px 0px
      color: $gold
      font-family: $sfont
      text-transform: uppercase
    .contents
      border-top: 1px solid $gold
      padding: 15px 0px
      ul
        list-style: none
        font-family: $sfont
        li
          a
            color: $black
    &--logo
      display: inline-block
      margin-bottom: 2em

  &--bottom
    background: $gold
    text-align: center
    p
      padding: 0.5em 0
      color: $white
      font-family: $sfont

  &--details
    font-family: $sfont
    list-style: none
    li
      p
        margin-bottom: 0px
