.dl-menuwrapper
  float: left

  @media screen and (min-width: 768px)
    .dl-menu
      list-style: none
      float: left
      padding: 0px
      margin: 0px

      >li
        float: left

        a
          display: inline-block
          color: $black

          &:hover
            text-decoration: none
            color: $white
            background-color: $gray


        >a
          padding:
            top: 39px
            right: 15px
            bottom: 39px
            left: 15px
          cursor: pointer

        &.has-sub

          &:hover

            .dl-submenu
              display: inline-block

      .dl-submenu
        display: none
        position: absolute
        padding:
          top: 5px
          bottom: 5px
          left: 0px
        list-style: none
        background-color: $white
        z-index: 1

        li
          a
            width: 100%
            padding: 6px 21px

        .dl-back
          display: none
