.dl-menuwrapper

  .dl-menu
    box-shadow: 1px 4px 5px rgba(0,0,0,0.4)

    a
      &:hover, &:active, &:focus
        text-decoration: none
        color: $white
        background-color: $gray

    .dl-submenu
      margin-left: 0

  @media screen and (min-width: 768px)

    float: right

    .dl-menu
      list-style: none
      float: left
      padding: 0px
      margin: 0px 10px 0px 0px
      box-shadow: 0px 0px 0px rgba(0,0,0,0.4)

      .current-menu-item
        >a
          text-decoration: none
          color: $white
          background-color: $gray

      >li
        float: left

        a
          display: inline-block
          color: $black
          transition: all 0s ease

          &:hover, &:active, &:focus
            text-decoration: none
            color: $white
            background-color: $gray

        >a
          padding: 35.5px 15px
          cursor: pointer

        &.has-sub
          position: relative

          &:hover

            .dl-submenu
              display: inline-block

          >a
            i
              margin-left: 5px

      .dl-submenu
        display: none
        position: absolute
        left: -40%
        right: -40%
        border-bottom-right-radius: 3px
        border-bottom-left-radius: 3px
        box-shadow: 1px 4px 5px rgba(0,0,0,0.4)
        padding:
          top: 5px
          bottom: 5px
          left: 0px
        list-style: none
        background-color: $white
        z-index: 1

        li
          a
            width: 100%
            padding: 6px 21px


        .dl-back
          display: none
