.navbar
  position: fixed
  width: 100%
  margin-bottom: 0px
  border: 0px solid red
  background-color: $white
  border-radius: 1px
  z-index: 6
  box-shadow: 1px 4px 5px rgba(0,0,0,0.2)

  >.container

    .navbar-header
      @media screen and (min-width: 768px)
        width: 100%

      a.navbar-brand
        margin-left: 0px
        height: auto
        padding: 10px 15px

        img
          width: 104px

        @media screen and (min-width: 768px)
          padding: 4px 0px

          img
            width: auto

      .dl-menuwrapper
        @media screen and (min-width: 768px)
          float: right

        .contact
          float: right
          margin: 10px 0px
          padding: 7px 10px
          line-height: 19px

          @media screen and (min-width: 768px)
            padding: 7px 27px
            margin: 20px 0px

        .dl-trigger
          float: right
          margin: 10px

          @media screen and (min-width: 768px)
            float: right
