.navbar
  position: fixed
  width: 100%
  margin-bottom: 0px
  border: 0px solid red
  background-color: $white
  border-radius: 1px
  z-index: 6
  box-shadow: 1px 4px 5px rgba(0,0,0,0.2)

  >.container

    .navbar-header
      @media screen and (min-width: 768px)
        // width: 100%

      a.navbar-brand
        margin-left: 0px
        height: auto
        padding: 10px 15px

        img
          width: 104px

<<<<<<< HEAD
      &.has-sub
        .dropdown-menu
          display: none
        &.open
          >.dropdown-menu
            @media (min-width: 992px)
              transition: all 0.3s ease
              width: 100%
              display: inline-block
              background: $white
        &:hover
          @media (min-width: 992px)
            >.dropdown-menu
              display: block
=======
        @media screen and (min-width: 768px)
          padding: 4px 0px
>>>>>>> parent of 47d364b... Merge pull request #8 from mikelarao/Extremeli-Suites

          img
            width: auto

    .navbar-nav
      margin: 15px 0px
      @media screen and (min-width: 768px)
        margin: 0px 12px 0px 0px
      >li
        >a
          @media screen and (min-width: 768px)
            //padding: 37px 12px
          color: $black
          border: 0px

      li.current-menu-item, li.current-menu-ancestor
        >a
          color: $white
          background: $gray

      li
        &:hover, &:focus, &:active
          >a, >i
            color: $white
            background: $gray


      li
        @media screen and (max-width: 767px)
          & + li
            a
              border-top: 1px solid #ddd
        &.has-sub
          @media screen and (max-width: 767px)
            &.open
              >a
                color: $white
                background: $gray

            position: relative
            .toggle-sub
              position: absolute
              top: 0
              right: 0
              padding: 13px 15px
              border: 1px solid #ddd


            .dropdown-menu
              width: auto
              transition: all 0s ease
              margin: 15px
              border: 1px solid #ddd
              li:first-child
                a
                  border: 0px solid transparent

          @media screen and (min-width: 768px)
            &:hover
              >a

              ul.dropdown-menu
                display: inline-block!important

          a
            i
              @media screen and (min-width: 768px)
                margin-left: 5px


    .contact
      &.visible-xs
        float: left
        margin: 13px 10px
        padding: 6px 15px
        font-size: 12px
      @media screen and (min-width: 768px)
        float: right
      margin: 16px 0px

    .navbar-toggle
      margin: 13px 15px 13px 0px
      border-radius: 0px
      padding: 15px
