body
  background-color: $gray

  *
    transition: all 0.3s ease

html, body
  height: 100%



// .container
//   @media (min-width: 1200px)
//     width: 1190px
//
//   @media (min-width: 1400px)
//     width: 1234px


.page-wrap
  min-height: 100%
  /* equal to footer height */
  margin-bottom: -142px
  @media (max-width: 991px)
    padding-top: 62px
  @media (min-width: 992px)
    padding-top: 102px

.page-wrap:after
  content: ""
  display: block

.site-footer, .page-wrap:after
  height: 142px

.site-footer
  background: orange
