.btn
  &.btn
    &-success
      padding: 10px 16px
      text-transform: uppercase
      border-radius: 1px
      background-color: $gold
      border: 0px solid $gold
      color: $white
      font-size: 1.286em
