.btn
  &.btn
    &-success
      padding: 8px 14px
      text-transform: uppercase
      border-radius: 1px
      background-color: $gold
      border: 2px solid $gold
      color: $white
      font-size: 1.286em
      font-family: $sfont
      transition: all 0.3s ease
      outline: 0
      &:hover
        background-color: $white
        border: 2px solid $gold
        color: $gold
        outline: 0
      &:active, &:focus
        background-color: $white
        color: $gold
        outline: 0

  &.btn-small
    font-size: 0.857em
